@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white shadow-lg rounded-lg overflow-hidden
          p-3 w-full;
}

.btn {
  @apply bg-white shadow-md font-bold py-2 px-4 rounded-full
          enabled:hover:opacity-80
          flex items-center justify-center
          border border-mono-3/50
          disabled:opacity-50 disabled:cursor-not-allowed
          transition-all;
}

.btn-primary {
  @apply shadow-primary-2/70 bg-primary-1 
         text-white border-white/30 border;
}

.btn-ghost {
  @apply bg-transparent border-none shadow-none;
}

.loading {
  @apply bg-mono-3 text-mono-3 px-4 rounded-md;
  @apply animate-pulse;
}

.grad-mask {
  position: relative;
}

.grad-mask:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  @apply bg-gradient-to-b from-transparent to-white;
}

.w-extra {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  @apply px-4;
}

.h-page {
  height: calc(100vh - 72px - 64px);
}
